# ========= Data (CSV) =========
data_manager:
  # === TRAINING ===
  raw_data_path: "data/raw_data/mushroom_raw_data.csv"

  # === PROD DB + PREDICTIONS
  prod_database_path: "data/prod_data/database_prod.csv"
  predictions_path: "data/prod_data/predictions.csv"

# ========= Pipeline Runner =========
pipeline_runner:
  model_path: "models/extra_trees.pkl"

# ========= Preprocessing =========
preprocessing:
  drop_columns:
    - veil-type   # removed because it is single-valued
    - stalk-root  # removed because of many missing values
    - stalk-shape
    - stalk-color-below-ring
    - stalk-color-above-ring
    - gill-color
    - ring-number
    - cap-surface
    - cap-color
    - cap-shape
    - veil-color
    - gill-attachment

# ========= Training =========
training:
  target:
    source_col: poisonous
    target_name: poisonous
  train_fraction: 0.8
  dummy:
    enabled: true
    strategy: "most_frequent"
    random_state: 42

  model_type: "extra_trees"

  extra_trees_params:
    n_estimators: 4
    max_leaf_nodes: 4
    max_features: 0.8527957659399003
    criterion: "entropy"
    random_state: 42
    n_jobs: -1

  calibration:
    method: "isotonic"
    cv: 5

# ========= Reports =========
reports:
  metrics_path: "reports/train_metrics.json"
